@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,700;1,800&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.card {
    border: none;
}

/**********************
 Place column
 *********************/

 .place-column {
     height: 100vh;
     overflow-y: scroll;
 }

.place-card-img{
    border-radius: 15px;
}

.place-card .rating-icon{
    background-color: aquamarine;
    width: 8px;
    height: 8px;
    padding: 2px 6px;
    border-radius: 4px;
    margin-right: 5px;
}

.place-card .rating-icon .rating-icon-font{
    color:green;
    font-size: 12px;
}